<% provide(:title, "About") %>
<h1>About</h1>
<p>
  railsチュートリアルを参考にツイッターライクなSNSアプリをつくりました<br>
  ・環境　rails6, cloud9, Amazon S3<br> 
  ・ツイート機能、ツイートの検索<br> 
  ・いいね機能<br> 
  ・フォロー機能<br> 
  ・画像のアップロード<br> 
  ・メールでのユーザー認証、フォロー通知<br> 
  ・ユーザー検索<br> 
  などができます<br> 
</p>