<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Railsチュートリアルを見ながらツイッター風のwebアプリを作りました。<br>
  環境はcloud9 、AmazonS3、herokuをつかってデプロイしてます。<br>
  ご自身のメールアドレスで登録していただくと承認メールが届きますのでそちらのリンクをクリックしてくださいませ.<br>
  また、メールアドレス：example@railstutorial.org<br>
  パスワード：foobar<br>
  でログインしていただくことも可能です。
</p>