<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  ご自身のメールアドレスで登録していただくと承認メールが届きますのでそちらのリンクをクリックしてくださいませ.<br>
  
  また、メールアドレス：example@railstutorial.org<br>
  パスワード：foobar<br>
  でログインしていただくことも可能です。
</p>